<div class="medium-8 medium-centered columns">
<h4 class="subTitle ">nimmy is part of General Assembly&apos;s Web Development Immerse &mdash; Project</h4>
</div>
<div class="medium-4 medium-centered columns">
	<a class="nimmyOtherBTN" href="/" alt="nimmy others" title="nimmy others">try nimmy</a>
</div>