<h4 class="subTitle medium-8 medium-centered columns">Ever want to know how many people using your name and does it have any criminal record?</h4>

<div class="sectionInputDIV medium-10 medium-centered columns">
<form id="new-post-form" action="/name">
	<div class="row collapse">
		<div class="medium-9 columns">
			<input type="text" id="SearchName" name="SearchName" placeholder="enter first name only">
		</div>
		<div class="medium-3 columns">
			<button class="SearchNameBTN">nimmy!</button>
		</div>
	</div>
</form>
</div>
