<div class="medium-8 medium-centered columns">
<h4 class="subTitle ">Nothing serious, just have fun using nimmy</h4>
</div>
<div class="medium-4 medium-centered columns">
	<a class="nimmyOtherBTN" href="/" alt="nimmy others" title="nimmy others">try nimmy</a>
</div>